@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);

  /* Pizza Theme Colors */
  --color-emerald-50: #FFFBEB;
  /* Amber-50 */
  --color-emerald-100: #FEF3C7;
  /* Amber-100 */
  --color-emerald-200: #FDE68A;
  /* Amber-200 */
  --color-emerald-500: #F59E0B;
  /* Amber-500 (Primary) */
  --color-emerald-600: #D97706;
  /* Amber-600 */
  --color-emerald-700: #B45309;
  /* Amber-700 */

  --color-amber-500: #EF4444;
  /* Red-500 (Secondary/Accent) */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

.button {
  cursor: pointer;
}

@layer utilities {

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #F59E0B;
    /* Amber-500 */
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #D97706;
    /* Amber-600 */
  }
}